/node_modules
/public/hot
/public/uploads

/storage/*.key
/public/img
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
/gitignore
.phpintel/*
/.phpintel
vendor
vendor/
.idea/vcs.xml
package-lock.json
composer.lock
public/uploads
